$color-title: #721c24;
$primary-color: #000000;
$secondary-color: #9b9b9b;
$white-color: #ffffff;
$section-case-studies: #ff33ac;
$section-news: #ffbf48;
$section-news-post: #ffbf48;
$section-what-we-do: #29c46d;
$section-about: #29b8ff;
$accent-lightgray: #d8d8d8;
$accent-orange: #e87a21;
$accent-green: #298554;
$accent-navy: #2960a1;
$footer-darkgray: #494961;
$error-red: #bf2b4d;
